{% extends 'base.html.twig' %}

{% block title %}New Artiste{% endblock %}

{% block body %}
    


    <div class="container mt-4"></div>
           <h1>Créer un nouveau Artiste</h1>
            {{ include('artiste/_form.html.twig') }}
    </div>

   
{% endblock %}
